
.profileName {
  font-size: 28px;
  color: black;
}

.profileEmail {
  font-size: 20px;
  color: #b1b1b1;
}

.editProfile {
  font-size: 20px;
  background-color: #d68f3c;
  cursor: pointer;
}

.profileLabel {
  color: black;
  font-size: 20px;
}
.profileData {
  background-color: #f9f9f9;
  outline-color: #D68F3C;
}
