.headerText {
    font-size: 58px;
    color: #061738;
  }
  
  .subText {
    font-size: 20px;
    color: black;
    font-family: "Roboto", serif !important;
  }
  
  .cardTitle {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  } 
  
  .cardPrice {
    font-size: 16px;
    color: #D68F3C !important;
  }
  
  .cardImg {
    height: 250px !important;
    width: 100% !important;
  }
  .likes{
    transition: 0.3s;
  }
  .likes:hover {
    background-color: #D68F3C !important;
  }
  .likes:hover svg path {
    color: white !important;
  }
  .category {
    width: 170px;
    height: 145px;
    border: 2px solid rgb(214, 214, 214);
    transition: 0.3s ;
  }
  .category:hover {
    border-color: #D68F3C !important;
    background-color: #D68F3C !important;
    .cardTitle {
      color: white;
    }
    .categoryIcons svg path {
      color: white;
    }
  }
  .redDott {
    color: #e07575;
    font-size: 30px;
  }
  .discountPrice {
    background-color: #D68F3C !important;
    height: fit-content;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .viewProducts {
    font-size: 16px;
    font-weight: 500;
    background-color: #D68F3C !important;
    color: white;
    text-decoration: none;
  }
  .time {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    line-height: 30px;
  }
  .date {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  .cartImageCont {
    height: 250px;
    overflow: hidden;
  }
  
  .addToCart {
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    display: none;
    color: white;
    transition: 0.3s !important;
  }
  .productCard:hover {
    .addToCart {
      display: flex;
    }
  }
  
  .flashText {
    font-size: 36px !important;
    color: black;
    font-weight: 600;
    line-height: 48px;
  }
  
  .productCarrd {
    border: 3px solid #dcedd8;
  }
  
  .flashArrow {
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300 !important;
    color: black !important;
    transition: .3s !important;
  }
  
  .flashArrow:hover{
    background-color: #D68F3C !important;
  }
  .flashArrow:hover svg path {
    color: white !important;
  }
  .swiper-slide {
    height: auto !important; /* Let the slide grow based on content */
  }
  .newProduct{
    background-color: green;
    height: fit-content;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  @media screen and (max-width: 770px) {
    .flashText {
      font-size: 30px;
    }
    .relatedArrow {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 464px) {
    .flashText {
      font-size: 25px;
    }
    .relatedArrow {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 575px) {
    .firIcon {
      width: 80px;
      height: 80px;
      font-size: 28px;
    }
    .secIcon {
      width: 80px;
      height: 80px;
      font-size: 28px;
    }
    .addToCardBtn {
      font-size: 17px;
    }
    .cardPrice {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .firIcon {
      width: 60px;
      height: 60px;
      font-size: 20px;
    }
    .secIcon {
      font-size: 20px;
      width: 60px;
      height: 60px;
    }
    .cardPrice {
      font-size: 16px;
    }
    .addToCardBtn {
      font-size: 12px;
    }
  }