
.over {
  height: 420px;
}

.vertical-swiper {
  height: 420px;
}

.imgSliderP {
  width: 104px !important;
  height: 104px !important;
  border: 3px solid #DCEDD8;
}

.vertical-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product-image{
  height:400px !important;
  border: 3px solid #DCEDD8;
}

.product-title {
  font-size: 35px;
  color: black;
}

.product-price {
  color: #173fffba;
  font-size: 31px;
}

.product-description {
  color: #3d4555;
  font-size: 16px;
}
.add-to-cart {
  font-size: 13px;
  background-color: #173fffba;
  width: fit-content;
  cursor: pointer;
  border: none;
}
.product-count {
  border: 2px solid #bcbcbc;
  font-size: 16px;
  color: #3d4555 !important;
}

.star {
  color: #ffa300;
  font-size: 16px;
}

.CustomerReview {
  font-size: 16px;
  color: #3d4555;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .product-title {
    font-size: 25px;
  }

  .product-price {
    font-size: 25px;
  }

  .product-description {
    font-size: 14px;
  }
  .star {
    font-size: 14px;
  }
  .CustomerReview {
    font-size: 14px;
  }
  .product-count {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 770px) {
  .product-title {
    font-size: 18px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-description {
    font-size: 11px;
  }
  .star {
    font-size: 11px;
  }
  .CustomerReview {
    font-size: 11px;
  }
  .product-count {
    font-size: 11px;
  }
  .add-to-cart {
    font-size: 11px;
  }

  .over {
    height: auto;
  }

  .vertical-swiper {
    height: 300px;
  }

  .main-product-image{
    height: 300px !important;
  }
}
@media screen and (max-width: 575px) {
  .product-title {
    font-size: 25px;
  }

  .product-price {
    font-size: 25px;
  }

  .product-description {
    font-size: 14px;
  }
  .star {
    font-size: 14px;
  }
  .CustomerReview {
    font-size: 14px;
  }
  .product-count {
    font-size: 14px;
  }
}

@media screen and (max-width: 464px) {
  .product-title {
    font-size: 25px;
  }

  .product-price {
    font-size: 25px;
  }

  .product-description {
    font-size: 14px;
  }
  .star {
    font-size: 14px;
  }
  .CustomerReview {
    font-size: 14px;
  }
  .product-count {
    font-size: 14px;
  }
}
