.catTXT {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-size: 16px;
}
.homeFirstBorder::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0.5px;
  background-color: black;
  top: 0;
  right: 40px;
}

.fifthImage{
  height: 500px !important;
}

.fifthButton{
background-color:#D68F3C;
color: white; 
font-weight: 500;
font-size: 16px;
position: absolute;
bottom: 80px;
left: 100px;
z-index: 10;
cursor: pointer;
}

@media screen and (max-width: 767px) {
  .homeFirstBorder::after {
    display: none;
  }
}
