 /* درجة غمقة */
 /* color: #9E7A4E; */

 /* درجة فاتحة
 color:#D68F3C
 */

@import url(pagesStyle/footer.css);
@import url(pagesStyle/login.css);
@import url(pagesStyle/register.css);
@import url(pagesStyle/about.css);
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: wheat;
}
/* .container{
  background-color: #faf6f3;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}


.pointer{
  cursor: pointer;
}

.text{
  color:#D68F3C
}

.textDark{
  color: #9E7A4E;

}
/* Animations to Lines */
.animated-underline-load {
  position: relative;
  display: inline-block;
}

.animated-underline-load::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #616060;
  animation: underline-load 3s ease forwards;
}

@keyframes underline-load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animation To Btns */
.btn-animated {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background: #d68e3cb7;
  border: 1px solid #000 !important;
  color:white;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.6s linear;
  z-index: 1;
  cursor: pointer;
}

.btn-animated::before {
  content: "";
  position: absolute;
  background: white;
  color:#D68F3C !important;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.6s ease-in-out;
}

.btn-animated:hover {
  color: white;
}

.btn-animated:hover::before {
  width: 100%;
}
img {
 object-fit: cover !important; 
}
.redText{
  color: #D68F3C;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.redBox{
  background-color: #D68F3C;
  width: 20px;
  height: 40px;
  border-radius: 4px;
}

.stars svg path{
  color: #FFAD33 !important;
  font-size: 16px !important;
}

hr{
  background-color: rgb(214, 214, 214) !important;
  color:rgb(214, 214, 214) !important ;
  padding: 1px !important;
  border-radius: 50px !important;
}
