
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}


.pointer{
  cursor: pointer;
}

.redText{
  color: #DB4444;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.redBox{
  background-color: #DB4444;
  width: 20px;
  height: 40px;
  border-radius: 4px;
}

.stars svg path{
  color: #FFAD33 !important;
  font-size: 16px !important;
}