footer {
  background-color: black;
}
footer .container {
  background-color: transparent;
}
footer h2 {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}
footer Link {
  all: unset;
}
.footerLinks {
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: bold !important;
  transition: 0.3s;
}

.footerLinks:hover {
  background-color: white;
  color: black;
}
